/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {background: black;font-family: "Segoe UI", Sans-Serif;color: #fff;}
h1 {font-color:#E8E8E8;font-weight:normal;font-size: 1.5em;line-height: 1;}
h2 {font-weight:bold; font-size:1.2em; margin:4em 0 0}

.hero { margin: 0px auto; border: 1px solid #2E2D2E;  width: 1024px; position:relative;text-align: center;}

.apocalypse-container { display:none; width: 1024px;height: 768px;position:relative;}

.full {position: absolute; width: 100%; height: 100%;z-index: 1;}
.zone {  position: absolute; z-index: 2;-webkit-transition: opacity .5s linear; height:100%; }

.apocalypse-container:hover .zone {  opacity: 0; -webkit-transition: opacity .5s ease; }

/*.image-wrapper {list-style-type:none;margin:auto 0;padding:0;width: 1024px;height: 768px;position:absolute;overflow:hidden;}  
.image-wrapper li { margin:0;padding:0;background-repeat:no-repeat;background-attachment:fixed;position:absolute; width: 1024px;height: 768px;}*/

.window1 { width: 33.3%; left: 0;background: black url("../img/1.jpg") no-repeat 0 0;}
.window2 { width: 33.3%; left: 33.3%;background: black url("../img/2.jpg") no-repeat 30.5% 0;}
.window3 { width: 33.3%; left: 66.6%;background: black url("../img/3.png") no-repeat 80% 0;}
.image1 {background: url("../img/1.jpg");}
.image2 {background: url("../img/2.jpg");}
.image3 {background: url("../img/3.png");}


.window1:hover ~ .image2, .window1:hover ~ .image3 {  display: none; }
.window2:hover ~ .image1, .window2:hover ~ .image3 {  display: none; }
.window3:hover ~ .image1, .window3:hover ~ .image2 {  display: none; }

.invite-form {top:70%; position:absolute; width: 600px; z-index:10; margin: 0px auto; background: }

.btn { padding: 4px 12px;line-height: 20px;cursor: pointer;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);background-color: whiteSmoke;border: 1px solid #BBB;border-radius: 4px;}
    
/*
alternate version: 

.image-wrapper:hover li:not(:hover) { opacity: 0.0;transition:all 0.5s linear; -webkit-transition:all 0.5s linear;-moz-transition:all 0.5s linear;-o-transition:all 0.5s linear;}
li:hover { 	left:0;background-position:0 0; transition:all 0.5s linear;-webkit-transition:all 0.5s linear;-moz-transition:all 0.5s linear;-o-transition:all 0.5s linear;}*/


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}